# age1wt4pfkks0995xsgkyf2mu7ayd8g73a3zvk4l6smuznuzwv0kw5gqswym4d
common/secrets/** binary filter=git-crypt-agessh diff=git-crypt-agessh
# age1wt4pfkks0995xsgkyf2mu7ayd8g73a3zvk4l6smuznuzwv0kw5gqswym4d
hosts/sora/system/desktop/opensnitch/005x-private-rules.nix binary filter=git-crypt-agessh diff=git-crypt-agessh
# age1wt4pfkks0995xsgkyf2mu7ayd8g73a3zvk4l6smuznuzwv0kw5gqswym4d
hosts/shiro/services/n8n.patch binary filter=git-crypt-agessh diff=git-crypt-agessh
secrets/**/*.age binary
